html{
    background-image: url(imgDeFundo.jpg);
    background-size: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}

.section {
    text-align: center;
    padding: 2rem;
}

.img{
    border-radius: 50%;
    border: solid  black 3px;
    height: 350px;
    margin-top: 80px;
}

.titulo {
    color: #E9F7EF;
    text-shadow: 15px 15px  45px #000 ;
    font-family: monospace;
    font-size: 5rem;
}

.tree {
    padding: 50px;   
}

.link {
    text-align: center;
    display: block;
    margin: 25px;
    padding: 18px;

    text-decoration: none;
    color: #E9F7EF;
    font-family: sans-serif;
    font-size: 4rem;

    border: 5px solid  #061600;
    border-radius: 25px;
    background-color: #0a2401;
}


@media  (max-width:600px) {
     .img {
        height: 125px;
     }
     .titulo {
        font-size: 2rem;
    }
    .link {
       font-size: 2rem;
       display: inline-block; 
        margin: 48px;
        padding: 34px;
    }
    .section {
         padding: 0rem; 
    }
    .tree {
        padding: 0px;
    }
 }
